<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'home.css' %}">
</head>
<body>
    <div class="container">
        <input type="text" id="room" placeholder="enter room name">
        <input type="button" id="submit" value="submit">
    </div>
    <script>
        var btn = document.getElementById("submit");
        document.querySelector("#room").focus();
        document.querySelector("#room").onkeyup = function(e){
            if (e.keyCode === 13) {// press enter 
                btn.click();
            }
        };
        btn.onclick = function(e){
            var roomname = document.getElementById("room").value;
            window.location.pathname = "/chat/" + roomname + "/";
        };
    </script>
</body>
</html>